.cleaner {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Icon 1 */
.navrisponsive {
  display: none;
}

@media only screen and (max-width: 800px) {
  .header {
    display: none !important;
  }
  .navrisponsive {
    display: inline;
  }
  .animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .animated-icon1 span {
    background: #e65100;
  }
  .animated-icon2 span {
    background: #e3f2fd;
  }
  .animated-icon3 span {
    background: #f3e5f5;
  }
  .animated-icon1 span:nth-child(1) {
    top: 0px;
  }
  .animated-icon1 span:nth-child(2) {
    top: 10px;
  }
  .animated-icon1 span:nth-child(3) {
    top: 20px;
  }
  .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  /* Icon 3*/
  .animated-icon2 span:nth-child(1) {
    top: 0px;
  }
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
  }
  .animated-icon2 span:nth-child(4) {
    top: 20px;
  }
  .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
  .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
  }
}

.header {
  margin: 0px auto;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .logo {
  margin-top: -30px;
  padding: 2%;
}

.header ul {
  margin-top: 3%;
}

.header ul a:hover {
  color: #62cf47;
}

.header a:active {
  color: #4a87e4;
}

.header .navbar-brand {
  font-size: 32px;
}

.header a {
  font-size: 18px;
  color: #000;
}

.header a:hover {
  color: #000;
}

.nav-item a {
  color: #000;
}

span {
  color: #35a03a;
}

.slajder {
  width: 90%;
  margin: 0px auto;
  margin-top: 3%;
}

.slajder img {
  height: 500px;
}

.slajder h5 {
  font-size: 40px;
  color: #5d9b23;
}

.slajder p {
  font-size: 30px;
  color: #709e65;
}

.anketa {
  background-image: url("../img/fit.png");
  background-repeat: no-repeat;
  min-height: 300px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
}

section {
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 90vh;
}

section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section .navigation {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section li {
  list-style-type: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  background: #fff;
  padding: 3px 3px 0;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

section li li:hover {
  opacity: 1;
}

section li img {
  width: 100px;
  -webkit-transform: 0.5s;
          transform: 0.5s;
}

section li img:hover {
  width: 150px;
}

.naslov {
  margin-top: 3%;
  text-align: center;
}

.naslov h2 {
  font-size: 21px;
}

.kartica2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
  padding: 2%;
  text-align: justify;
}

.kartica2 img {
  height: 200px;
}

.infosve {
  color: #fff;
  line-height: 70px;
  margin-top: 3%;
}

.infosve div {
  background-color: #35a03a;
}

.infosve h5 {
  font-size: 25px;
}

.infosve a {
  background: #202020;
  border: #202020;
}

.infosve a:hover {
  background-color: #fff;
  color: #000;
}

.svefuter {
  line-height: 150px;
  color: #c2c2c2;
}

.svefuter footer {
  background-color: #202020;
}

.svefuter .ufuter {
  line-height: 5px;
  border-top: 1px solid #c2c2c2;
}

.svefuter h5 {
  font-size: 30px;
}

.svefuter p {
  font-size: 20px;
}

.svefuter a {
  text-decoration: none;
  color: #c2c2c2;
  font-size: 20px;
}

.svefuter a:hover {
  color: #35a03a;
  text-decoration: none;
}

.bgslika {
  background-image: url("../img/gym1.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
}

.bgslika .ptext {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
}

.bgslika .ptext h1 {
  color: #fff;
  font-size: 90px;
}

.bgslika .ptext p {
  color: #fff;
  font-size: 35px;
}

.bgimg {
  padding: 2%;
}

.bgimg .stext {
  text-align: center;
  padding: 3%;
}

.bgimg .stext h2 {
  color: #000;
  font-size: 40px;
}

.bgslikanovosti {
  background-image: url("../img/novosti2.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
}

.bgslikanovosti .ptext {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
}

.bgslikanovosti .ptext h1 {
  color: #fff;
  font-size: 90px;
}

.bgslikanovosti .ptext p {
  color: #fff;
  font-size: 35px;
}

.bgimg {
  padding: 2%;
}

.bgimg .stext {
  text-align: center;
  padding: 3%;
}

.bgimg .stext h2 {
  color: #000;
  font-size: 40px;
}

.trending .trendnaslov {
  margin: 5% 5% 5% 5%;
  border-bottom: 3px solid #35a03a;
}

.trending .trendnaslov h1 {
  font-size: 35px;
  color: #000;
}

.novostiblok {
  width: 100%;
}

.novostiblok div {
  margin: 20px;
}

.trending3deo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trending3deo .trendnaslov1 {
  width: 80%;
  margin: 0px auto;
  margin: 5% 5% 5% 5%;
  border-bottom: 3px solid #35a03a;
}

.trending3deo .trendnaslov1 h1 {
  font-size: 35px;
  color: #000;
}

.trending3deo .trendnaslov2 {
  width: 35%;
  margin: 5% 5% 5% 5%;
  border-bottom: 3px solid #35a03a;
}

.trending3deo .trendnaslov2 h1 {
  font-size: 35px;
  color: #000;
}

.novostislike img {
  height: 100%;
}

.novostislike div {
  margin: 20px;
}

.novostivideo {
  background-color: #000;
  padding: 1%;
}

.novostivideo iframe {
  width: 100%;
  margin: 0px auto;
}

.novostivideo div {
  background-color: #000;
}

.novostivideo h5 {
  color: #c2c2c2;
}

.novostivideo p {
  color: #c2c2c2;
}

.novostivideo .trendnaslovvideo {
  margin: 5% 5% 5% 5%;
  border-bottom: 3px solid #35a03a;
}

.novostivideo .trendnaslovvideo h1 {
  font-size: 35px;
  color: #fff;
}

.kartica3 {
  width: 60%;
}

.kartica3 .prvakartica {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3%;
  /*.textdesno{
            //text-align: justify;
            //margin-top: 3%;
        }*/
}

.kartica3 .prvakartica .levaimg {
  margin-right: 40px;
  margin-left: 7%;
}

.kartica3 .prvakartica .levaimg img {
  width: 300px;
}

.container {
  /*a{
        color: #fff;
        //background-color: #35a03a;
        border: #fff;
    }
    a:hover{
        color: #35a03a;
    }*/
}

.container i {
  font-size: 25px;
  margin-right: 20px;
}

.container i {
  color: #000;
}

.container i:hover {
  color: #35a03a;
}

.container .poseban {
  padding-top: 2%;
}

.container .poseban a {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border: #c2c2c2;
}

.container .poseban a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

.container {
  /*a{
        color: #fff;
        //background-color: #35a03a;
        border: #fff;
    }
    a:hover{
        color: #35a03a;
    }*/
}

.container .petarimg {
  text-align: center;
}

.container .petarimg img {
  -webkit-box-shadow: 0px 5px 16px 15px #c0c0c0;
          box-shadow: 0px 5px 16px 15px #c0c0c0;
  width: 500px;
  height: 400px;
}

.container .petarimg img:hover {
  border: 5px solid #bdbdbd;
}

.container i {
  font-size: 25px;
  margin-right: 20px;
}

.container i {
  color: #000;
}

.container i:hover {
  color: #35a03a;
}

.container .poseban {
  padding-top: 2%;
}

.container .poseban a {
  background-color: #35a03a;
  border: #c2c2c2;
}

.container .poseban a:hover {
  background-color: #000;
}

.bgrezultatijelena {
  background-image: url("../img/jelena.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  padding-top: 25%;
}

.bgrezultatijelena .ptext {
  background-color: rgba(68, 68, 68, 0.418);
  width: 70%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
  padding: 2%;
}

.bgrezultatijelena .ptext h1 {
  color: #dddddd;
  font-size: 90px;
}

.bgrezultatijelena .ptext p {
  color: #dddddd;
  font-size: 35px;
}

.bgrezultatistevan {
  background-image: url("../img/stevan.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  padding-top: 25%;
}

.bgrezultatistevan .ptext {
  background-color: rgba(68, 68, 68, 0.418);
  width: 70%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
  padding: 2%;
}

.bgrezultatistevan .ptext h1 {
  color: #dddddd;
  font-size: 90px;
}

.bgrezultatistevan .ptext p {
  color: #dddddd;
  font-size: 35px;
}

.bgrezultatimihailo {
  background-image: url("../img/mihailo.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
  min-width: 1200px;
  background-size: cover;
  padding-top: 25%;
}

.bgrezultatimihailo .ptext {
  background-color: rgba(68, 68, 68, 0.418);
  width: 70%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
  padding: 2%;
}

.bgrezultatimihailo .ptext h1 {
  color: #dddddd;
  font-size: 90px;
}

.bgrezultatimihailo .ptext p {
  color: #dddddd;
  font-size: 35px;
}

.anketalink {
  text-align: center;
}

.anketalink a {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border: #c2c2c2;
}

.anketalink a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

.krataklink a {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border: #c2c2c2;
}

.krataklink a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#active {
  color: #35a03a;
}

.paginacija {
  padding: 2%;
  font-size: 18px;
}

.paginacija nav a {
  color: #35a03a;
}

.bgrezultati {
  background-image: url("../img/gym1.jpg");
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: cover;
}

.bgrezultati .ptext {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
}

.bgrezultati .ptext h1 {
  color: #fff;
  font-size: 90px;
}

.bgrezultati .ptext p {
  color: #fff;
  font-size: 35px;
}

.bgrezultatipetar {
  background-image: url("../img/petar3.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  padding-top: 25%;
}

.bgrezultatipetar .ptext {
  background-color: rgba(68, 68, 68, 0.418);
  width: 70%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
  padding: 2%;
}

.bgrezultatipetar .ptext h1 {
  color: #dddddd;
  font-size: 90px;
}

.bgrezultatipetar .ptext p {
  color: #dddddd;
  font-size: 35px;
}

/*.bgrezultatimirko{
    background-image:url("../img/mirko.jpg");
	background-repeat:no-repeat;
	min-height:500px;
    background-size:cover;
    .ptext{
        background-color: rgba(68, 68, 68, 0.418);
        width: 60%;
        margin: 0px auto;
        text-align: center;
        padding-top: 8%;
        h1{
            color: #fff;
            font-size: 90px;
        }
        p{
            color: #fff;
            font-size: 35px;
        }
    }
}*/
.bgrezultatimirko {
  background-image: url("../img/mirko.jpg");
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  padding-top: 25%;
}

.bgrezultatimirko .ptext {
  background-color: rgba(68, 68, 68, 0.418);
  width: 70%;
  margin: 0px auto;
  text-align: center;
  padding-top: 8%;
  padding: 2%;
}

.bgrezultatimirko .ptext h1 {
  color: #dddddd;
  font-size: 90px;
}

.bgrezultatimirko .ptext p {
  color: #dddddd;
  font-size: 35px;
}

.reznaslov {
  text-align: center;
  margin: 5% 5% 5% 5%;
  border-bottom: 6px solid #35a03a;
}

.reznaslov h3 {
  font-size: 35px;
  color: #fff;
}

.searchnas {
  text-align: center;
  margin: 0px auto;
  width: 30%;
  border-bottom: 6px solid #35a03a;
  margin-top: 3%;
}

.rezultati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rezultati .rezlevo img {
  width: 500px;
  height: 300px;
}

.rezultati .rezdesno meter {
  font-size: 30px;
  width: 90%;
}

.omeni {
  background-image: url("../img/gym1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  text-align: center;
  padding: 3%;
  margin-top: 4%;
}

.omeni .omenitext {
  font-size: 20px;
  padding: 3%;
  margin-top: 3%;
}

.omeni .omenitext p {
  color: #fff;
  text-align: justify;
}

.infosverez {
  color: #fff;
  line-height: 70px;
  margin-top: 3%;
}

.infosverez div {
  background-color: #35a03a;
}

.infosverez h5 {
  font-size: 25px;
}

.infosverez a {
  background: #202020;
  border: #202020;
}

.infosverez a:hover {
  background-color: #fff;
  color: #000;
}

.svefuterrez {
  line-height: 50px;
  color: #c2c2c2;
}

.svefuterrez footer {
  background-color: #202020;
}

.svefuterrez .ufuter {
  line-height: 5px;
  border-top: 1px solid #c2c2c2;
}

.svefuterrez h5 {
  font-size: 30px;
}

.svefuterrez p {
  font-size: 20px;
}

.svefuterrez a {
  text-decoration: none;
  color: #c2c2c2;
  font-size: 20px;
}

.svefuterrez a:hover {
  color: #35a03a;
  text-decoration: none;
}

body {
  font-family: 'Anaheim';
  font-size: 1.2em;
}

#outside {
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

form {
  margin: 0 auto;
  width: 70%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#survey-form {
  background-color: white;
}

fieldset {
  border: 1px solid lightgray;
  margin: 10px;
}

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}

input, textarea {
  width: 200px;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: OrangeRed;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

/*.button {
  }*/
button {
  margin: .5em;
  font-size: 1em;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  color: white;
  border: none;
  padding: 1%;
  border-radius: 2px;
}

button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#submitbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.sanketa {
  text-align: center;
}

.search {
  width: 40%;
  margin: 0px auto;
  margin-top: 3%;
}

.bomeni {
  text-align: center;
}

.bomeni .omenitext {
  font-size: 20px;
  padding: 3%;
}

.bomeni .omenitext p {
  color: #000;
  text-align: justify;
}

.blogstr {
  padding: 9%;
  margin: 6%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 15px 10px #bdbdbd;
          box-shadow: 0px 5px 15px 10px #bdbdbd;
  background-color: #fff;
  margin-top: -8%;
}

.blogstr .ublogu {
  background-color: #fff;
}

.prijava1 {
  margin-top: 5%;
}

.prijava1 button {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border: none;
}

.prijava1 button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

.onamasve {
  width: 85%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: justify;
  margin-top: 3%;
}

.onamasve h5 {
  font-size: 30px;
}

.onamasve p {
  padding: 2%;
  font-size: 18px;
}

.onamasve .onamasve1 {
  margin-left: 8%;
  width: 100%;
}

#pop {
  padding: 1%;
  width: 810px;
  height: 450px;
  border: 2px soli #000;
  bottom: 50%;
  top: 22%;
  right: 20%;
  position: fixed;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../img/popup1.png");
}

#pop #close {
  right: 5;
  top: 5;
  float: right;
}

#pop a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  float: right;
  border: 1px solid #c2c2c2;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border-radius: 5px;
  padding: 1%;
}

#pop a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#pop .link1 {
  width: 86%;
  margin-top: 25%;
}

#pop .link1 a {
  font-size: 30px;
}

#popkont {
  padding: 1%;
  width: 610px;
  height: 450px;
  border: 2px solid #d1d1d1;
  bottom: 50%;
  top: 25%;
  right: 27%;
  position: fixed;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.945);
}

#popkont #close {
  right: 5;
  top: 5;
  float: right;
}

#popkont a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  float: right;
  border: 1px solid #c2c2c2;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border-radius: 5px;
  padding: 1%;
}

#popkont a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#popkont .kako {
  text-align: center;
  margin-top: -4%;
  border-bottom: 1px solid #000;
}

#popkont .kako p {
  margin-left: 10%;
  font-size: 24px;
  color: #000;
}

#popkont .link1 {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
}

#popkont .link1 p {
  text-align: justify;
  color: #868686;
}

#popkont .popimg {
  text-align: center;
  margin-top: 4%;
  font-size: 70px;
}

#popprijava {
  padding: 1%;
  width: 610px;
  height: 450px;
  border: 2px solid #d1d1d1;
  bottom: 50%;
  top: 18%;
  right: 27%;
  position: fixed;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.815);
}

#popprijava #close {
  right: 5;
  top: 5;
  float: right;
}

#popprijava a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  float: right;
  border: 1px solid #c2c2c2;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
  border-radius: 5px;
  padding: 1%;
}

#popprijava a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
  background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
}

#popprijava .kako {
  text-align: center;
  margin-top: -4%;
  border-bottom: 1px solid #000;
}

#popprijava .kako p {
  margin-left: 10%;
  font-size: 24px;
  color: #000;
}

#popprijava .link1 {
  text-align: center;
  margin-top: 1%;
  font-size: 20px;
}

#popprijava .link1 p {
  text-align: justify;
  color: #868686;
}

#popprijava .popimg {
  text-align: center;
  margin-top: 4%;
  font-size: 70px;
}

@media (max-width: 1300px) {
  .bgslika {
    /*width: 90%;
        margin: 0px auto;*/
  }
  .bgslika .ptext h1 {
    font-size: 30px;
    margin-top: 200px;
  }
  .bgslika .ptext p {
    font-size: 20px;
  }
  .bgrezultati {
    width: 100%;
    margin: 0px auto;
  }
  .bgrezultati .ptext h1 {
    font-size: 30px;
    margin-top: 200px;
  }
  .bgrezultati .ptext p {
    font-size: 20px;
  }
  .rezultati {
    display: block;
    width: 100%;
  }
  .rezultati .rezlevo {
    text-align: center;
  }
  .rezultati .rezdesno {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  #popkont {
    padding: 1%;
    width: 80%;
    margin: 0px auto;
    height: 420px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 37%;
    right: 10%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 24px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
  }
  #popkont .link1 p {
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  #pop {
    padding: 1%;
    width: 80%;
    margin: 0px auto;
    height: 450px;
    border: 2px soli #000;
    bottom: 50%;
    top: 35%;
    right: 8%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../img/popup1.png");
  }
  #pop #close {
    right: 5;
    top: 5;
    float: right;
  }
  #pop a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #pop a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #pop .link1 {
    width: 86%;
    margin-top: 25%;
  }
  #pop .link1 a {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .container .petarimg img {
    width: 470px;
  }
  .onamasve {
    display: block;
  }
  .onamasve .onamasve1 {
    text-align: center;
  }
  .kartica3 .prvakartica {
    display: block;
    text-align: center;
  }
  .prijava1 {
    margin-top: 12%;
  }
  .searchnas {
    width: 50%;
    margin: 0px auto;
  }
  .anketa {
    background-image: none;
  }
  .bgslika {
    width: 100%;
    margin: 0px auto;
  }
  .header {
    display: block;
    text-align: center;
  }
  .header .logo {
    padding: 4%;
  }
  .header ul {
    margin-left: 18%;
    padding: 1%;
  }
  .anketa {
    display: block;
    text-align: center;
  }
  .anketa .druga {
    margin-bottom: 3%;
  }
  .anketa .druga img {
    display: none;
  }
}

@media (max-width: 620px) {
  .container .petarimg img {
    width: 370px;
  }
  #popkont {
    padding: 1%;
    width: 95%;
    margin: 0px auto;
    height: 430px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 35%;
    right: 2%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 24px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 18px;
  }
  #popkont .link1 p {
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  #pop {
    padding: 1%;
    width: 90%;
    margin: 0px auto;
    height: 400px;
    border: 2px soli #000;
    bottom: 50%;
    top: 40%;
    right: 4.5%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../img/popup1.png");
  }
  #pop #close {
    right: 5;
    top: 5;
    float: right;
  }
  #pop a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #pop a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #pop .link1 {
    width: 96%;
    margin-top: 45%;
  }
  #pop .link1 a {
    font-size: 24px;
  }
  .bgslika {
    width: 100%;
    margin: 0px auto;
  }
  .bgslika h1 {
    text-align: center;
  }
  .header .logo {
    margin-top: 1%;
  }
  .header .logo img {
    width: 200px;
  }
  .header ul {
    display: block;
    margin-left: -8px;
  }
  section .navigation li img {
    width: 50px;
    height: 50px;
  }
  .rezlevo {
    width: 100%;
    margin: 0px auto;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 200px;
  }
  .container .petarimg img {
    width: 300px;
  }
  #popkont {
    padding: 1%;
    width: 90%;
    margin: 0px auto;
    height: 480px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 32%;
    right: 4.5%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.945);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 10%;
    font-size: 14px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 20px;
  }
  #popkont .link1 p {
    padding: 0%;
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  #pop {
    padding: 1%;
    width: 95%;
    margin: 0px auto;
    height: 320px;
    border: 2px soli #000;
    bottom: 50%;
    top: 47%;
    right: 2%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../img/popup2.png");
  }
  #pop #close {
    right: 5;
    top: 5;
    float: right;
  }
  #pop a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #pop a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #pop .link1 {
    width: 95%;
    margin-top: 45%;
  }
  #pop .link1 a {
    font-size: 17px;
  }
  .prijava1 {
    margin-top: 20%;
  }
  .searchnas {
    width: 80%;
    margin: 0px auto;
  }
  .search {
    width: 80%;
    margin: 0px auto;
    margin-top: 3%;
  }
  .sanketa form {
    width: 90%;
  }
  .header .logo {
    padding: 4%;
  }
  .rezultati .rezlevo {
    width: 100%;
    margin: 0px auto;
  }
  .rezultati .rezlevo img {
    width: 300px;
    height: 300px;
  }
  .rezultati .rezdesno {
    margin-top: 7%;
  }
  .omenitext {
    margin: 4%;
  }
}

@media (max-width: 380px) {
  .naslov {
    margin-top: 3%;
    text-align: center;
  }
  .naslov h2 {
    font-size: 18px;
  }
  .container .petarimg img {
    width: 300px;
  }
  #popkont {
    padding: 1%;
    width: 95%;
    margin: 0px auto;
    height: 355px;
    border: 2px solid #d1d1d1;
    bottom: 50%;
    top: 36%;
    right: 2.5%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.979);
  }
  #popkont #close {
    right: 5;
    top: 5;
    float: right;
  }
  #popkont a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #popkont a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #popkont .kako {
    text-align: center;
    margin-top: -4%;
    border-bottom: 1px solid #000;
  }
  #popkont .kako p {
    margin-left: 15%;
    font-size: 13px;
    color: #000;
  }
  #popkont .link1 {
    text-align: center;
    margin-top: 1%;
    font-size: 12px;
  }
  #popkont .link1 p {
    padding: 0%;
    text-align: justify;
    color: #868686;
  }
  #popkont .popimg {
    text-align: center;
    margin-top: 4%;
    font-size: 70px;
  }
  #pop {
    padding: 1%;
    width: 96%;
    margin: 0px auto;
    height: 290px;
    border: 2px soli #000;
    bottom: 50%;
    top: 46%;
    right: 1.7%;
    position: fixed;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../img/popup3.png");
  }
  #pop #close {
    right: 5;
    top: 5;
    float: right;
  }
  #pop a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    float: right;
    border: 1px solid #c2c2c2;
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(100%, #ff7a1a), to(#ffc31a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff7a1a 100%, #ffc31a 100%);
    border-radius: 5px;
    padding: 1%;
  }
  #pop a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #ffb71a), color-stop(0%, #ff9c1a), to(#ffca1a));
    background: linear-gradient(90deg, #020024 0%, #ffb71a 0%, #ff9c1a 0%, #ffca1a 100%);
  }
  #pop .link1 {
    width: 93%;
    margin-top: 55%;
  }
  #pop .link1 a {
    font-size: 16px;
  }
  .searchnas {
    width: 90%;
    margin: 0px auto;
  }
}
/*# sourceMappingURL=style.css.map */